# Git
.git
.gitignore
.gitattributes

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea
*.iml
.vscode
*.swp
*.swo

# Logs
*.log
logs/

# Documentation
*.md
!README.md

# Docker
Dockerfile*
docker-compose*
.dockerignore

# OS files
.DS_Store
Thumbs.db

# Test files
src/test/
